# dfx & local replica
.dfx/
.dfx-local/
# jangan commit file identity / key
.identity/
*.pem
*.p12

# artefak build / target
target/
build/
out/

# OS / editor
.vscode/
.idea/
*.log
*.swp
Thumbs.db

# node / python
node_modules/
__pycache__/

# env & secrets
.env
.env.local
secrets.json

# optional: file canister ids lokal (biasanya tidak perlu di repo remote)
.dfx/local/canister_ids.json
