# Contoh file environment. Salin file ini menjadi .env dan isi nilainya.

# ID Canister dari EventFactory di Internet Computer.
# Nilai ini akan diisi secara otomatis oleh skrip deploy atau Docker Compose.
EVENT_FACTORY_CANISTER_ID=""

# URL untuk replika lokal Internet Computer.
# Untuk pengembangan lokal, biasanya ini tidak perlu diubah.
ICP_URL="http://127.0.0.1:4943"
